[Desktop Entry]
Name=Stash Player
GenericName=Media Player
Comment=Browse your Stash library and play scenes locally or via Chromecast
Exec=stash-player
Icon=dev.arsfeld.stash-player
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;GTK;
Keywords=Stash;Video;Media;Player;Chromecast;
StartupNotify=true
StartupWMClass=dev.arsfeld.stash-player
